extends layout

block content
  div(class='grid')
    h1= title
      div(class='About Us')
        h2= 'About Us:'
        p Corona & Sons...
      div(class='missionStatement')
        h2= 'Mission Statement:'
        p Is COVID-19 driving you crazy? Corona & Sons has you covered! 
        p From hand sanitizers to masks, we are here to help protect you during these uncertain times.
      div(class='monthlyNewsletter')
        h2= 'Monthly Newsletter:'
    




  
  
  
  