doctype html
html
  head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='topnav')
      div.container-fluid
        ul
            a(class = 'active' href='/') Home
        ul
            a(href='/catalog') Product Catalog
        ul
            a(href='/login') Login
        ul
            a(href='/signup') Sign Up
  block content 
  footer#footer
  nav#navbar-default
    div(class='botnav')
      div.container-fluid
        ul
          a(href='/') Home
        ul
          a(href='/catalog') Product Catalog
        ul
          a(href='/login') Login
        ul
          a(href='/signup') Sign Up
        p Copyright (c) 2020 Corona & Sons, Inc.












  









