extends layout

block content
    div(class='missionStatement')
        p Is COVID-19 driving you crazy? Corona & Sons has you covered! 
        p From hand sanitizers to masks, we are here to help protect you during these uncertain times.
