doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      a.navButton(href='home')
       // img(src='') // Corona & Sons logo
      //a.navButton(href='Logout')
        img(src='')
      a.navButton(href='My Profile')
        img(src='')
      a.navButton(href='Shop')
        img(src='')
    block content
    footer
      p All original content on this page is &copy; 2020 Corona & Sons, Inc.
    //script(src='')  



